.home-page {
  margin: ($base-size * 3.5) auto;
  padding: ($base-size * 3) ($base-size * 4);
  background: $color-light;
  border-bottom: 1px solid lighten($color-dark, 70%);
  border-radius: $radius;
}

.banner {
  margin-bottom: ($base-size * 6);
  display: grid;
  grid-template-areas: "order booking" "hours hours"
  ;
  
  .order-item {
    background: url(../..//images/assets-home-page/pizza-1.jpg) no-repeat center center/cover;
    @include banner-items-style(order);
    @include banner-text-animation();
  }

  .booking-item {
    background: url(../..//images/assets-home-page/pizza-2.jpg) no-repeat center center/cover;
    @include banner-items-style(booking);
    @include banner-text-animation();
  }

  .hours-item  {
    background-color: $color-main;
    padding: $base-size * 2;
    @include banner-items-style(hours);
    flex-direction: column;

    .item-text-main {
      @include banner-hours-text($font-header);

    }

    .item-text-sub {
      @include banner-hours-text($font-text);
    }
  }
}